@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;900&display=swap");

:root {
    --color-bg: hsl(0, 0%, 98%);

    --color-font: hsl(0, 0%, 49%);
    --color-font-light: hsl(0, 0%, 79%);
    --color-font-dark: hsl(0, 0%, 15%);

    --color-main: hsl(0, 0%, 100%);
    --color-accent: hsl(221, 21%, 18%);
    --color-accent-hover: hsl(221, 21%, 18%, 0.7);

    --font-poppins: "Poppins", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
}

html {
    font-size: 62.5%;
}

#app {
    width: 100vw;
    min-height: 100vh;

    font-size: 1.6rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    line-height: 1.5;

    background-color: var(--color-bg);

    padding: 0 10%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    font-family: var(--font-poppins);
    font-size: 1.6rem;
    color: inherit;
}

@media (min-width: 800px) {
    #app {
        padding: 0 7%;
    }
}
